.env
.phpunit.result.cache
/.phpunit.cache/
/.idea/
/vendor/
/build/
/var/build/*
!var/build/.gitkeep
/var/log/*
!var/log/.gitkeep
/var/tmp/*
!/var/tmp/cache/
/var/tmp/cache/*
!var/tmp/cache/.gitkeep
!/var/tmp/di/
/var/tmp/di/*
!var/tmp/di/.gitkeep
/tests/Http/log/*
!/tests/Http/log/.gitkeep
/prod-*.autoload.php
/prod-*.preload.php
/autoload.php.dev
phpunit.xml
/docs/api/
/.phpcs.xml
/.phpcs-cache
/vendor-bin/**/vendor/
env.json
