{
  "$schema" : "./env.schema.json",
  "ADMIN_BASE_URL": "https://example.com",
  "ADMIN_EMAIL_ADDRESS" : "admin@example.com",
  "CLOUDFLARE_TURNSTILE_SECRET_KEY": "DUMMY",
  "CLOUDFLARE_TURNSTILE_SITE_KEY": "DUMMY",
  "DB_DSN" : "mysql:host=localhost:3306;dbname=DUMMY;charset=utf8mb4",
  "DB_PASS" : "DUMMY",
  "DB_USER" : "DUMMY",
  "ENCRYPT_PASS" : "abcdefghijklmnop",
  "SMTP_HOST" : "DUMMY",
  "SMTP_OPTION" : "",
  "SMTP_PASS" : "DUMMY",
  "SMTP_PORT" : "465",
  "SMTP_USER" : "DUMMY",
  "SERVICE_NAME": "DUMMY"
}
