{
  "$schema" : "./env.schema.json",
  "ADMIN_BASE_URL": "https://example.com",
  "ADMIN_EMAIL_ADDRESS" : "admin@example.com",
  "DB_DSN" : "mysql:host=localhost:3306;dbname=DUMMY",
  "DB_PASS" : "DUMMY",
  "DB_USER" : "DUMMY",
  "ENCRYPT_PASS" : "abcdefghijklmnop",
  "GOOGLE_RECAPTCHA_SECRET_KEY" : "DUMMY",
  "GOOGLE_RECAPTCHA_SITE_KEY" : "DUMMY",
  "SMTP_HOST" : "DUMMY",
  "SMTP_OPTION" : "",
  "SMTP_PASS" : "DUMMY",
  "SMTP_PORT" : "465",
  "SMTP_USER" : "DUMMY"
}
