@view-transition {
  navigation: auto;
}

body {
  font-family: 'Noto Sans JP', 'Roboto', sans-serif;
}

.image-bg {
  background: repeating-linear-gradient(45deg, #eee, #eee 15px, #fff 0, #fff 30px);
}

dialog {
  transition: opacity 0.5s, translate 0.5s;

  &[open] {
    opacity: 1;
    translate: 0 0;

    @starting-style {
      opacity: 0;
      translate: 0 20px;
    }
  }
}
